<!DOCTYPE html>
<html>
<head>
  <title>Gauntlet</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="modal-form" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-body">
  </div>
</div>

<div class='container'>
  <div class="masthead">
    <ul class="nav nav-pills pull-right">
      <%= nav_link("People", people_path) %>
      <%= nav_link("Objectives", objectives_path) %>
    </ul>
    <h3 class="muted">Gauntlet</h3>
  </div>
  <%= yield %>
</diV>

</body>
</html>
